<% provide(:title, @taxon.name ) %>
<div class="main-wrapper">
  <%= render 'shared/light_section', object: @taxon, shop: true %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <%= render 'select_form', taxonomies: @taxonomies %>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <%= render 'sort_form' %>
          <div class="row">
            <% @products.each do |product| %>
              <div class="col-sm-4 col-xs-12">
                <div class="productBox">
                  <%= link_to potepan_product_path(product.id) do %>
                    <div class="productImage clearfix">
                      <%= image_tag (product.display_image.attachment(:large)) %>
                    </div>
                    <div class="productCaption clearfix">
                      <h5><%= product.name %></h5>
                      <h3><%= product.display_price %></h3>
                    </div>
                  <% end %>  
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render 'shared/partners_logo'%>
</div>
<%= render 'shared/login_modal' %>
<%= render 'shared/signup_modal' %>