<div class="media-left productSlider">
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <% if product.images.any? %>
          <% product.images.each_with_index do |image, i| %>
            <div class="item <%= "active" if i.zero? %>" data-thumb="<%= i %>">
              <%= image_tag(image.attachment(:large)) %>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
  <div class="clearfix">
    <div id="thumbcarousel" class="carousel slide" data-interval="false">
      <div class="carousel-inner">
        <% if product.images.any? %>
          <% product.images.each_with_index do |image, i| %>
            <div class="thumb" data-slide-to="<%= i %>" data-target="#carousel" >
              <%= image_tag(image.attachment(:small)) %>
            </div>
          <% end %>
        <% end %>
      </div>
      <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>