<div class="main-wrapper">
  <!-- HEADER -->
  <div class="header clearfix">
    <!-- TOPBAR -->
    <div class="topBar">
      <div class="container">
        <div class="row">
          <div class="col-md-6 hidden-sm hidden-xs">
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            </ul>
          </div>
          <div class="col-md-6 col-xs-12">
            <ul class="list-inline pull-right">
              <li><!-- <span><a data-toggle="modal" href='.login-modal'>ログイン</a><small>or</small><a data-toggle="modal" href='#signup'>新規登録</a></span> --></li>
              <li class="dropdown searchBox">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <form id="form01" action="product-grid-left-sidebar.html" method="post">
                  <li>
                    <span class="input-group">
                      <input type="text" id ="suggest" name="searchWord" class="form-control" placeholder="Search…" aria-describedby="basic-addon2">
                      <span onclick="FormSubmit();" class="input-group-addon addPointer" id="basic-addon2">検索</span>
                    </span>
                  </li>
                  </form>
                </ul>
              </li>
              <li class="dropdown">
                <a href="cart-page.html" class="dropdown-toggle" data-toggle="dropdown disabled"><i class="fa fa-shopping-cart"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- NAVBAR -->
    <nav class="navbar navbar-main navbar-default" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/potepan"><%= image_tag("img/logo.png", :alt => "") %></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/potepan">Home</a></li>
            <li class="dropdown megaDropMenu active">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false">Shop</a>
              <ul class="dropdown-menu row">
                <li class="col-sm-3 col-xs-12">
                  <ul class="list-unstyled">
                    <li>Products Grid View</li>
                    <li class="active"><a href="product_grid_left_sidebar.html">Products Sidebar Left</a></li>
                    <li><a href="product-grid-right-sidebar.html">Products Sidebar Right</a></li>
                    <li><a href="product-grid-3-col-filter.html">Products 3 Columns V1</a></li>
                    <li><a href="product-grid-3-col.html">Products 3 Columns V2</a></li>
                    <li><a href="product-grid-4-col.html">Products 4 Columns</a></li>
                  </ul>
                </li>
                <li class="col-sm-3 col-xs-12">
                  <ul class="list-unstyled">
                    <li>Products List View</li>
                    <li><a href="product_list_left_sidebar.html">Products Sidebar Left</a></li>
                    <li><a href="product-list-right-sidebar.html">Products Sidebar Right</a></li>
                    <li class="listHeading">Others</li>
                    <li><a href="single_product.html">Single Product</a></li>
                    <li><a href="cart_page.html">Cart Page</a></li>
                  </ul>
                </li>
                <li class="col-sm-3 col-xs-12">
                  <ul class="list-unstyled">
                    <li>Checkout</li>
                    <li><a href="checkout_step_1.html">Step 1 - Address</a></li>
                    <li><a href="checkout_step_2.html">Step 2 - Shipping</a></li>
                    <li><a href="checkout_step_3.html">Step 3 - Payment</a></li>
                    <li><a href="checkout_step_4.html">Step 4 - Payment</a></li>
                    <li><a href="checkout_complete.html">Order Complete</a></li>
                  </ul>
                </li>
                <li class="col-sm-3 col-xs-12">
                  <a href="#" class="menu-photo"><%= image_tag("img/menu-photo.jpg", :alt => "menu-img") %></a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>